body,
html {
  margin: 0;
  font-size: large;
}

html {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  padding: 0.7em;
}

#tekstBoks {
  font-size: 5em;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: left;
  justify-content: center;
  padding: 1em;
  width: 100vw;
  max-height: 80vh;
  white-space: normal;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#tekstBoks:disabled {
  border: 10px solid rgba(80, 80, 255, 0.787);
}

#tekstBoks:enabled {
  border: 10px solid red;
}

fieldset div label {
  font-weight: bold;
  font-size: larger;
}

fieldset div p {
  margin: 0.5em;
}
.selected {
  border: 6px solid rgb(2, 210, 144);
}
fieldset div {
  border: 6px solid rgb(255, 255, 255);
  background-color: rgb(174 248 225);
  margin: 1em;
  padding: 0.6em;
}

.unavailable {
  color: gray;
  border-color: gray;
  background-color: #eeeeee;
  text-decoration: line-through;
}

#visValgIgjenKnapp {
  margin-top: 0.6em;
  margin-bottom: 1em;
}

h1 {
  margin: 0;
  margin-bottom: 0.35em;
}
